html,
body{
	height: 100%;
}
body{
	background-color: #091a44;
	color: #e1e1e1; 
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}
*,
*:hover,
*:active,
*:focus{
	outline: none;
}
h1,
h2,
h3,
h4,
h5,
h6{
	color: #fbc115;
}
ul{
	list-style: none;
	margin: auto;
}
section{
	overflow: hidden;
}
/*-------------------Header------------------------------*/

header .navbar-default{
	background: rgba(9, 26, 68, 0.8);
	border-bottom: none;
}
header .navbar-default .navbar-nav > li > a{
	color: #fbc115;
}
header .navbar-brand, 
header .navbar-nav > li > a{
	color: #fbc115;
	text-shadow: none;
}
header .navbar-default .navbar-nav>li>a:focus,
header .navbar-default .navbar-nav>li>a:hover{
	color: #091a44;
	background: #fbc115;
	transition: background 1000ms, color 1000ms;
}
header .navbar-nav > li > a{
	padding: 35px 10px;
}
@media screen and (max-width: 992px){
	header .navbar-nav > li > a{
		padding-top: 5px;
		padding-bottom: 5px;
		text-align: center;
	}
}
header .navbar-fixed-top .navbar-collapse{
	max-height: 400px;
}
.navbar-brand{
	height: auto;
	padding: 5px 15px;
}
header pre{
	background: transparent;
	overflow: visible;
	border: none;
	color: #e1e1e1;
	font: 0.8em Arial;
	text-transform: uppercase;
	position: relative;
	margin-left: -27px;
	margin-top: 15px;
	margin-bottom: 0;
	float: left;
	padding: 0;
}
@media screen and (max-width: 1199px){
	header pre{
		display: none;
	}
}
header .navbar-header{
	position: relative;
}
header .navbar-default .navbar-collapse,
header .navbar-default .navbar-form{
	border: none;
}
header .navbar-default .navbar-toggle .icon-bar{
	background: #fbc115;
}
header .navbar-default .navbar-toggle{
	border-color: #fbc115;
}
header .navbar-default .navbar-toggle:hover,
header .navbar-default .navbar-toggle:focus{
	background: #fbc115;
}
header .navbar-default .navbar-toggle:hover .icon-bar,
header .navbar-default .navbar-toggle:focus .icon-bar{
	background: #091a44;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus{
	background: #fbc115;
}

/*----------------------Main---------------------------*/

main{
	//height: 100%;
}
@media screen and (min-width: 600px){
	main{
		height: 100%;
	}
	#about{
		height: 100%;
	}
}
/*---------Home page ---------------*/

#home{
	background: url(../images/home_bg.jpg) no-repeat center center;
	background-size: cover;
	background-attachment: scroll;
}
@media screen and (max-width: 992px){
	#home{
		width: 100%!important;
		height: 100%!important;
	}
}
#home_news{
	margin-top: 30%; 
}
#home_news .slick-prev:before,
#home_news .slick-next:after{
	line-height: 0;
}
#home_news .slick-prev{
	left: 0;
	border: none;
}
#home_news .slick-next{
	right: 0;
	border: none;
}
#home_news .slick-list{
	width: 74%;
	margin: 0 auto;
}
@media screen and (max-width: 767px){
	#home_news .slick-list{
		width: 96%;
	}
}
#home_news p{
	text-align: center;
	font-size: 1.2em;
}
#home_news .news_title{
	font-size: 1.8em;
	color: #fbc115;
	font-weight: bold;
}
#home_news .slick-dots{
	bottom: -30px;
}
#home_news .slick-dots li{
	border: 1px solid #fbc115;
	border-radius: 50%;
}
/*----------------------------------*/
/*---------------Prices section ---------------*/

#prices{
	background: url(../images/prices_bg.jpg) no-repeat center center;
	background-size: cover;
	background-attachment: scroll;
	padding: 5em 0;
}
#prices_accordion{
	margin-top: 5em;
	margin-bottom: 5em;
}
#prices_accordion p{
	margin: 10px 0;
}

/*--------------------------------------------*/
/* ---------------------Schedule section--------------------- */

#schedule{
	background: url(../images/schedule_bg.jpg) no-repeat center center;
	background-size: cover;
	background-attachment: scroll;
	padding: 10em 0;
}
#schedule_accordion h3{
	text-align: center;
}
#schedule_accordion p{
	margin: 10px auto;
	text-align: center;
}

/* --------------------------------------------------------- */
/* ----------------Photo Gallery------------------- */
#gallery{
	background: url(../images/gallery_bg.jpg) no-repeat center center;
	background-size: cover;
	background-attachment: scroll;
	padding: 50px 0;
}
#photo_gallery a img{
	display: block;
	float: left;
	margin: 0;
	padding: 10px;
	width: 12%;
	box-sizing: border-box;
	height: 100px;
	overflow: hidden;
}
@media screen and (max-width: 768px){
	#photo_gallery a img{
		width: 25%;
	}
}

/* ------------------------------------------------ */
/* ------------------Contacts section ---------------- */

#contacts{
	background: url(../images/contacts_bg.jpg) no-repeat center center;
	background-size: cover;
	background-attachment: scroll;
	padding: 8em 0;
}
#map{
	width: 80%;
	margin: auto;
	height: 450px;
}
.location_info{
	padding-top: 3em;
}
#contacts p{
	font-size: 1.2em;
}
#contacts p.adress{
	font-size: 1em;
}
.tel{
	padding-left: 2.4em;
}
#contacts a{
	color: #e1e1e1;
	text-decoration: none;
	font-size: 1.2em;
	display: block;
}
a.toMaselskogo{
	padding: 10px 15px;
	background: #fbc115;
	border-radius: 20px;
	color: #091a44!important;
	text-align: center;
	margin: 10px 0;
	width: 70%;
	box-shadow: 0 0 10px #fbc115;
}
.socicons{
	clear: both;
	overflow: hidden;
	width: 50%;
	margin: auto;
}
.socicons a{
	display: block;
	height: 50px;
	width: 50px;
	float: left;
	margin: 10px 5px;
}
.vk{
	background: url(../images/icons.png) no-repeat 0 0;
}
.vk:hover,
.vk:active{
	background: url(../images/icons.png) no-repeat 0 -70px;
}
.inst{
	background: url(../images/icons.png) no-repeat -70px 0;
}
.inst:hover,
.inst:active{
	background: url(../images/icons.png) no-repeat -70px -70px;
}
@media screen and (max-width: 768px){
	#contacts{
		padding-bottom: 2em;
	}
	#map{
		width: 100%;
		margin: auto;
		height: 300px;
	}
	#contacts p,
	#contacts h4{
		text-align: center;
	}
	#contacts a{
		margin: auto
		width: 100%;
		text-align: center;
	}
	a.toMaselskogo{
		margin: 10px auto;
		width: 100%;
	}
	.socicons{
		width: 120px;
		margin: auto;
	}
}

/* ---------------------------------------------------- */

/*------------------- About Page -------------------*/

#about{
	background: url(../images/club_bg.jpg) no-repeat center center;
	background-size: cover;
	background-attachment: fixed;
}
@media screen and (max-width: 992px){
	#about{
		width: 100%!important;
		height: 100%!important;
	}
}
.section_inner{
	margin-top: 15%;
}
@media screen and (max-width: 768px) and (orientation : landscape) {
	.section_inner{
		margin-top: 20%;
	}
}
@media screen and (max-width: 768px) and (orientation : portrait) {
	.section_inner{
		margin-top: 35%;
	}
}
#video{
	margin-top: 5em;
}
#video iframe{
	width: 100%;
	height: 26em;
	border: none;
}
.club_info p{
	font-size: 1.2em;
}
.club_info a{
	display: block;
	width: 60%;
	margin: 5px auto;
	background: transparent;
	border: 2px solid #fbc115;
	border-radius: 10px;
	text-transform: uppercase;
	padding: 5px;
	color: #ffb866;
	text-align: center;
}
@media screen and (max-width: 768px){
	#video{
		margin-top: 0;
	}
	.club_info a{
		width: 100%;
	}
}
/*-----------------------------------------------------*/
/* ---------------------News Page----------------------*/
#news{
	background: url(../images/news_bg.jpg) no-repeat center center;
	background-size: cover;
	background-attachment: fixed;
}
/* @media screen and (max-width: 992px){
	#news{
		width: 100%!important;
		height: 100%!important;
	}
} */
@media screen and (max-width: 768px) and (orientation : landscape) {
	#news .section_inner{
		margin-top: 20%;
	}
}
@media screen and (max-width: 768px) and (orientation : portrait) {
	#news .section_inner{
		margin-top: 15%;
	}
}
.grid figure h2 span{
	font-size: 0.8em;
	color: #fff;
}

/* -------------------------------------------------------*/
/* ---------------------Vacancy Page----------------------*/

#vacancy{
	background: url(../images/vacancy_bg.jpg) no-repeat center center;
	background-size: cover;
	background-attachment: fixed;
	padding-bottom: 3em;
}
@media screen and (max-width: 992px){
	#vacancy{
		width: 100%!important;
		height: 100%!important;
	}
}
#vacancy .section_inner{
	margin-top: 15%;
}
@media screen and (max-width: 768px) and (orientation: landscape) {
	#vacancy .section_inner{
		margin-top: 15%;
	}
}
@media screen and (max-width: 768px) and (orientation: portrait) {
	#vacancy .section_inner{
		margin-top: 30%;
	}
}
h1{
	text-align: center;
	text-transform: uppercase;
}
.vacancy_list li{
	list-style: disc;
}
.vacancy_list a{
	color: #fbc115;
}
.vacancy_list a:hover{
	text-decoration: none;
}
/*---------------------------------------------------------*/
/* ----------------------------Rulls Page ------------------*/

#rulls{
	background: url(../images/rulls_bg.jpg) no-repeat center center;
	background-size: cover;
	background-attachment: fixed;
}
#rulls .section_inner{
	margin-top: 15%;
}
@media screen and (max-width: 768px) and (orientation: landscape) {
	#rulls .section_inner{
		margin-top: 15%;
	}
}
@media screen and (max-width: 768px) and (orientation: portrait) {
	#rulls .section_inner{
		margin-top: 30%;
	}
}

#rulls ul li{
	margin: 10px 0;
}
/*-------------------------------------------------------------*/